*{
    margin: 0;
    padding: 0;
}

.title{
    padding: 12px 24px;
    color:#fff;
    background-color: #333;
}

.controle{
    width: 614px;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.prev,
.next{
    width: 100px;
    padding: 12px;
    text-align: center;
    color: #fff;
    background-color: #888;
    border-radius: 4px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.prev:hover,
.next:hover{
    background-color: #777;
}

.tab{
    width: 614px;
    display: flex;
    margin: 12px;
}

.tab-item{
    width: 100%;
    padding: 12px;
    text-align: center;
    color: #333;
    background-color: #eee;
    border: 1px solid #ddd;
    font-size: 18px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.tab-item:hover{
    background-color: #ccc;
    border: 1px solid #bbb;
}

.tab-item.on{
    background-color: #bbb;
    border: 1px solid #aaa;
}

.contents-item{
    width: 600px;
    border: 3px solid #aaa;
    margin: 12px;
    padding: 4px;
    display: none;
}

.contents-item.on{
    display: block;
}

.contents-item-title{
    color: #333;
    font-size: 18px;
    padding: 8px 18px;
    border-bottom: 2px dotted #aaa;
}

.contents-item-text{
    color: #333;
    font-size: 16px;
    padding: 12px 18px;
}