*{
    margin: 0;
    padding: 0;
}



#header{
    background-color: #428390;
    height: 92px;
    position: relative;
}

.header-title{
    margin: 0 16px;
    line-height: 92px;
    font-size: 18px;
}

.header-title a{
color: #fff;
text-decoration: none;
}

.gnav{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    font-size: 14px;
}

.gnav-item{
    list-style-type: none;
    line-height: 92px;
}

.gnav-item a{
    padding: 0 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.1s ease-in;
}

.gnav-item a:hover{
    background-color: rgba(255,255,255,0.1);
}

.main-head{
    background: #41Baa0;
    height: 500px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-title{
    margin: 16px;
    font-size: 40px;
    font-weight: normal;
}

.site-description{
    padding: 0 16px;
    font-size: 14px;
    line-height: 2;
    max-width: 620px;
    margin: 0 auto;
}

.entry-title{
    font-size: 24px;
    font-weight: normal;
    padding: 16px 0 ;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.entry{
    background-color: #fff;

}

.entries{
    margin:32px auto 40px;
    display: flex;
    max-width: 1200px;
}

.entry-item{
    margin: 0 10px;
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
}

.entry-item-img img{
    width: 100%;
    display: block;
}

.entry-item-category{
    margin: 8px 0;
}

.entry-item-category a{
    background-color: #47b39d;
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
}

.entry-item-title a{
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

.contents-title{
    padding: 40px;
    font-size: 24px;
    background-color: #556;
    color: #fff;
    text-align: center;
    font-weight: normal;
    position:relative;
    z-index: 1;
}

.contents-title:after{
    content: '';
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 20px solid #556;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}

.contents-title span{
    font-size: 13px;
    display: block;
}

.contents-item{
    padding: 0 32px;
    height: 440px;
    position:relative;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.contents-item:nth-child(odd){ /*奇数*/
    padding-right: 693px;
}

.contents-item:nth-child(even){ /*偶数*/
    padding-right: 693px;
    background-color: #fafafa;
}

.contents-item-title-num{
    padding-top: 40px;
    margin-bottom: 40px;
    display: block;
    width: 32px;
    text-align: center;
    background-color: #47b39d;
    color: #fff;
    font-size: 20px;
}

.contents-item-title{
    margin-bottom: 24px;
    color: #47b39d;
    font-size: 36px;
    font-weight: normal;
}

.contents-item-txt{
    font-size: 14px;
    margin-bottom: 24px;
}

.contents-item-title-en{
    font-size: 14px;
    display:block;
}

.contents-item-img{
    position: absolute;
    top: 0px;
    right: 0px;
}

.contents-item-img img{
    width: 661px;
}

.contents-item:nth-child(even) .contents-item-img{
    left: 0;
}

.button a{
    padding: 8px;
    display: block;
    width: 200px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
}

.orange{
    background-color:#ff6c00;
}